.navbar-item-container {
    height: 100%;
    padding: 0 20px;
    border-width: 0 0 0 0;
    border-style: solid;
    border-image: linear-gradient(to left, red, blue) 27;
}

.navbar-item-container:hover {
    background-color: rgb(37, 37, 37);
    border-image: linear-gradient(to right, red, blue) 27;
    border-width: 0 0 2px 0;
}

.navbar-item-active {
    border-width: 0 0 2px 0;
}

@media screen and (max-width: 780px){
    .navbar-item-container {
        display: none;
    }

    .navbar-item-container-burger {
        font-size: 20px;
        margin: 5px
    }
}