.academic-experience-container {
    margin: 10px 100px 0 100px;
    text-align: justify;
    font-size: 17px;
}

.academic-experience-text-container {
    margin: 0 0 0 30px;
    width: 70%;
    display: flex;
}

.academic-experience-paper-container {
    width: 30%;
}

.academic-info-grid-bg {
    background-color: rgba(27, 27, 27, 0.767);
}

.academic-info-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto; 
    gap: 1px;
    text-align: right;
}

.academic-info-grid p h1 {
    font-size: 14px;
}

.grid-item {
    background-color: #292929;
    padding: 5px;
}

.academic-info-paper {
    padding: 5px 20px;
    background-color: #292929 !important;
    color: #d8d8d8 !important;
}

.subjects-paper {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #292929 !important;
    color: #d8d8d8 !important;
}

.subject-header {
    font-size: 20px;
}

.subject-name {
    font-size: 13px;
}

.completed-subjects-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto; 
    gap: 10px;
}

@media screen and (max-width: 1600px){
    .academic-experience-container {
        flex-direction: column-reverse;
        transition: 0.8s all ease;
    }

    .academic-experience-text-container {
        width: 100%;
        margin: 0 0 20px 0;
    }
    
    .academic-experience-paper-container {
        width: 100%;
    }
}

@media screen and (max-width: 1150px) {
    .subject-header {
        font-size: 17px;
        transition: 0.8s all ease;
    }
    
    .subject-name {
        font-size: 11px;
        transition: 0.8s all ease;
    }
}

@media screen and (max-width: 950px){
    .academic-experience-container {
        margin: 10px 40px 0 40px;
        transition: 0.8s all ease;
    }

    .academic-experience-text-container {
        margin: 0 0 20px 0;
        width: 100%;
        transition: 0.8s all ease;
    }
    
    .academic-experience-paper-container {
        width: 100%;
        transition: 0.8s all ease;
    }

    .subject-header {
        font-size: 17px;
        transition: 0.8s all ease;
    }
    
    .subject-name {
        font-size: 11px;
        transition: 0.8s all ease;
    }
    .completed-subjects-grid {
        gap: 5px;
    }
}

@media screen and (max-width: 650px){
    .academic-experience-container {
        margin: 10px 20px 0 20px;
        font-size: 12px;
        transition: 0.8s all ease;
    }
}
